
.Eseguito {
     background-color: rgb(136, 237, 136) !important;
}

.Terminato{
     background-color:#FE7A7A !important;   
}

.InEsecuzione{
     background-color:#FFBC00 !important;    
}

.DaEseguire{
     background-color:lightgray !important;
}

.Incompleto {
    background-color:#5a5aed !important;
}

.HaDipendenza {
    background-color:orange !important;
}

.Bloccato {
    background-color: #b4b4b4 !important;
}

.FlussoTerminato{
    box-shadow: 0px 0px 14px 0px #c21818 inset !important;
	-moz-box-shadow: 0px 0px 14px 0px #c21818 inset !important;
    -o-box-shadow: 0px 0px 14px 0px #c21818 inset !important;	
}

.FlussoEseguito{
    box-shadow: 0px 0px 14px 0px #4ac54a inset !important;
    -moz-box-shadow: 0px 0px 14px 0px #4ac54a inset !important;
	-o-box-shadow: 0px 0px 14px 0px #4ac54a inset !important;
}

.FlussoInEsecuzione{
    box-shadow: 0px 0px 14px 0px #c2a218 inset !important;
    -o-box-shadow: 0px 0px 14px 0px #c2a218 inset !important;
    -moz-box-shadow: 0px 0px 14px 0px #c2a218 inset !important;	
}

.FlussoIncompleto{
    box-shadow: 0px 0px 14px 0px #4089a1 inset !important;
    -o-box-shadow: 0px 0px 14px 0px #4089a1 inset !important;
    -moz-box-shadow: 0px 0px 14px 0px #4089a1 inset !important;	
}

#TitoloFlussi{ 
	position: relative;
	width: 71%;
	float: left;
	margin-top: 5px;
	left: 5px;
	padding: 3px 15px;
	overflow-y: none;
	height: 43px;
	border-bottom: none;
}

#Titolo{
    font-size: 22px;
    color: red;
    margin-bottom: 10px;
}
#TitoloDip{
    font-size: 22px;
    margin: 10px;
    color: red;
    margin-bottom:15px;
	text-align: center;
}

.ACapo{
   float: left;
   width:100%;
   display:none;
}

.Livello{
	/* border: 1px solid black; */
	background-color: #cfdee0;
	float: left;
	color: black;
	font-size: 1em;
	text-align: center;
	margin: 7px;
	padding: 5px;
	min-height: 157px;
	box-shadow: 0px 0px 3px 0px #1f529e inset;
}

.LivOneShot {
	/* border: 1px solid red; */
	background-color: #ffefde;
	float: left;
	font-size: 1em;
	text-align: center;
	margin: 7px;
	padding: 5px;
	min-height: 157px;
	box-shadow: 0px 0px 3px 0px red inset;
}

#ImageEsito{
	height: 25px;
	transform: rotate(-53deg);
	-webkit-transform: rotate(-53deg);
	-ms-transform: rotate(-53deg); 
	top: 2px;
	position: relative;
	left: -36px;
    -moz-user-select: none; 
}

.Dipendenza {
    position: relative;
    width: 97%;
    margin: auto;
    height: 25px;
	cursor:pointer;
}

.DettFlusso{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5px;
    overflow-y: auto;
    max-height: 66%;
    padding-bottom: 30px;
    z-index: 99999;
}

#AreaPreFlussi{
    position: relative;
    width: 71%;
    float: left;
    left: 5px;
    padding: 15px 15px;
    overflow-y: auto;   
    height: 77%;
    border-top: 0px;
    border-right: 1px solid black;
}

#Contenitore{
    width: 100%;
    height: 100%;
}


#Inselez {
    position: relative;
    padding-left: 4px;
    left: 4%;
    width: 90%;
	text-align: center;
	color: red;
	font-size: 2em;
	text-shadow: 1px 1px white;
    margin-top: 10px;	
	margin-bottom: 10px;
}

#Log {
    width: 35px;
    float: left;
}

.NomeDip {
    position: relative;
    font-size: 1.1em;
    float: left;
    width: 80%;
    text-align: left;
    color: black;
    height: 25px;
    /*box-shadow: 0px 0px 13px 1px white inset;*/
    margin-left: 10%;
    padding-left: 4px;
    border: 1px solid black;
    padding-top: 3px;
	overflow-x: hidden;
}

#UteLancio{
    float: left;
    width: 98%;
    margin: 5px 5px 0px;
    position: relative;
}

#DataInz {
    float:left;
    width:98%;
    margin: 5px 5px 0px;
    position: relative;
}

#DataFine {
    float:left;
    width:98%;
    margin: 5px 5px 0px;
    position: relative;
}

#LastFile {
    float:left;
    width:98%;
    margin: 5px 5px 0px;
    position: relative;
}

#AvviaFlussi {
    position: fixed;
    left: 72%;
    height: 60px;
    width: 26%;
    background-color: #fff5de;
    top: 133px;
    font-size: 2em;
    color: red;
    border: 2px solid red;
    /*box-shadow: 0px 0px 13px 1px red inset;
    -moz-box-shadow: 0px 0px 13px 1px red inset;
    -o-box-shadow: 0px 0px 13px 1px red inset;*/
    font-family: initial;
    text-align: center;
    padding: 11px;
}

#Strato {
    position: fixed;    
    height: 100%;
    width: 100%;
    background-color: rgba(119, 104, 104, 0.4);
    top: 115px;
    z-index: 99999;
}

#Riepilogo {
    position: relative;
    height: 35%;
    width: 50%;
    background-color: white;
    top: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 150px 11px black;
    -o-box-shadow: 0px 0px 150px 11px black;
	-moz-box-shadow: 0px 0px 150px 11px black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index:9999;
}

#TitRiepilogo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

#DescRiepilogo {
    position: relative;
    height: 70%;
    width: 98%;
    top: 40px;
    overflow-y:auto;
}

#Coda {
    position: fixed;
    left: 73%;
    bottom: 35px;
    z-index: 99;
    color: black;
    width: 26%;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid;
    /*box-shadow: 0px 0px 2px 2px #8d7878;
    -moz-box-shadow: 0px 0px 2px 2px #8d7878;	
    -o-box-shadow: 0px 0px 2px 2px #8d7878;*/
    border-radius: 10px;
    padding: 10px;
	max-height: 25%;
	overflow:auto;
	z-index: 99999999;
}

#PulMostraCoda{
	position: fixed;
	right: 5px;
	bottom: 2px;
	height: 24px;
	z-index: 9999999;
	width: 92px;
	color: white;
	border: 2px solid white;
	text-align: center;
	font-size: 1.2em;
	background-color: #10648c;
	border-radius: 7px;
	font-style: oblique;
	padding: 1px;
	cursor: pointer;
}


#Legenda{
    position: fixed;
    left: 72.5%;
    top: 270px;
    z-index: 99;
    color: black;
    width: 27%;
    /*box-shadow: 0px 0px 2px 2px #8d7878;
    -moz-box-shadow: 0px 0px 2px 2px #8d7878;	
    -o-box-shadow: 0px 0px 2px 2px #8d7878;*/	
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
}

.Legenda {
    height: 35px;
    float: left;
    margin-bottom: 10px;
    width: 32%;
    border: 1px solid;
    margin: 1px;
    padding: 3px;
	font-size: 1em;
}


.LegColore {
	width: 26px;
	height: 26px;
    margin-right: 10px;
    float: left;
	font-size: 1em;
}

.LegDescr {
    height: 30px;
    position: relative;
    margin-top: 12px;   
    float: left;
	font-size: 1em;
}

#TitoloLeg {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

#Carica {
	position: relative;
	width: 94%;
	height: 95px;
	padding: 10px;
	border: 1px solid black;
	float: left;
	left: 3%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px gray;
	-o-box-shadow: 0px 0px 5px 0px gray;
	-moz-box-shadow: 0px 0px 5px 0px gray;	
	margin-top: 7px;
	background-color: rgba(123, 180, 212, 0.6);
}


.Flusso {
    width: 70px;
    float: left;
    background: #FFF;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 1px 0px black;
    -o-box-shadow: 0px 0px 1px 0px black;
    -moz-box-shadow: 0px 0px 1px 0px black;	
    border: 2px white solid;
    height: 119px;
	cursor:pointer;
}

#NomeFlusso {
    position: relative;
    font-size: 1em;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    /*border-bottom: 1px solid lightgray;*/
    background: #e2edf2;
    color: black;
    box-shadow: 0px 0px 10px 0px gray inset;
    -o-box-shadow: 0px 0px 10px 0px gray inset;
    -moz-box-shadow: 0px 0px 10px 0px gray inset;	
	height:19px;
	padding-top: 3px;
	font-stretch: condensed;
	font-weight:bold;
	overflow-x: hidden;
}

#ImageIn {
    position: relative;
    float: left;
    width: 100%;
    height: 73px;
    padding-top: 21px;
    overflow: -moz-hidden-unscrollable;
    box-shadow: 0px 0px 22px 0px rgba(129, 129, 129, 0.8) inset;
    -o-box-shadow: 0px 0px 22px 0px rgba(129, 129, 129, 0.8) inset;
    -moz-box-shadow: 0px 0px 22px 0px rgba(129, 129, 129, 0.8) inset;	
	overflow: hidden;
}

#DataFlusso {
    position: relative;
    font-size: 0.8em;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    /*border-top: 1px solid lightgray;*/
    height: 23px;
    background: #e2edf2;
    color: black;
    box-shadow: 0px 0px 10px 0px gray inset;
    -o-box-shadow: 0px 0px 10px 0px gray inset;
	-moz-box-shadow: 0px 0px 10px 0px gray inset;
    padding-top: 3px;
}


.Blocca {
    background-color:#aaa;
}

#BloccoImage{
	height: 85%;
	margin-top: 2px;
	float: left;
}

.Elementi {
	position: absolute;
	top: 5px;
	right: 13px;
	z-index: 9999;
}

#OrdinaPer {
    color: black;
}

.NonMostrare {
}

.Esex {
}

#divValMan{
    position: relative;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    float: left;
    margin: 10px;
}

#PulsValida {
    position: relative;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    float: left;
	cursor: pointer;
}

.ShowFlusso{
    position: relative;
    float: left;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    margin: 5px;
}

#ConfElab{
    position: absolute;
    left:10px;
    bottom:10px;
    color: red;
    border: 1px solid red;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 7px;   
}

#ChiudiStrato{
    position: absolute;
    right:10px;
    bottom:10px;
    color: red;
    border: 1px solid red;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 7px;   
}

.Conferma {
    color: red;
    border: 1px solid red;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 7px 1px pink inset;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    min-width: 100px;
	cursor: pointer;
}

.Valida {
    color: green;
    border: 1px solid green;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 7px 1px lightgreen inset;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    min-width: 100px;
	cursor: pointer;
}

.Selezione{
	box-shadow: 0px 0px 2px 1px black;
	-o-box-shadow: 0px 0px 2px 1px black;
	-moz-box-shadow: 0px 0px 2px 1px black;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3); 	
	z-index: 9999;
}

.Selex{
	box-shadow: 0px 0px 3px 0px black;
	-o-box-shadow: 0px 0px 3px 0px black;
	-moz-box-shadow: 0px 0px 3px 0px black;	
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1); 	
	z-index: 9999;
}

#LegBlocImg{
	width: 93%;
	margin: 1px;
}

#LavoriInCorso{
    width: 85%;
    left: 7px;
    position: absolute;
}


.Icon {
    float: left;
    width: 10%;
    height: 25px;
    position: absolute;
    border: 1px solid black;
    left: 0px;
	text-align: center;
}

.DescValidazione {
	position: absolute;
	width: 300px;
	border: 1px solid black;
	background: white;
	top: 12px;
	left: 16px;
	z-index: 99999;
}

.ImgIco{
    height: 20px;
    margin: auto;
    margin-top: 3px;
	text-align: center;
}

#EsitoUpload{
	position: fixed;
	height: 30%;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	z-index: 9999999;
	border: 2px solid black;
	top: 200px;
	box-shadow: 0px 0px 30px 2px black !important;
	-o-box-shadow: 0px 0px 30px 2px black !important;
	-moz-box-shadow: 0px 0px 30px 2px black !important;	
	left: 0;
	right: 0;
}

.Pendente{
	box-shadow: 0px 0px 0px 2px red !important;
	-o-box-shadow: 0px 0px 0px 2px red !important;
	-moz-box-shadow: 0px 0px 0px 2px red !important;	
	z-index: 999;
}

.Dipende{
	box-shadow:  0px 0px 3px 1px red !important;
	-o-box-shadow:  0px 0px 3px 1px red !important;
	-moz-box-shadow:  0px 0px 3px 1px red !important;	
}

.PreDipende{
	box-shadow:  0px 0px 3px 1px blue !important;
	-o-box-shadow:  0px 0px 3px 1px blue !important;
	-moz-box-shadow:  0px 0px 3px 1px blue !important;
}

.FlussoLogico {
	background-color:#31cdff !important;
}

.Coda {
	position: absolute;
	margin-top: 108px;
	margin-left: 29px;
	width: 5px;
	height: 5px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 99999999;
}

.Testa{
	position: absolute;
	margin-top: -5px;
	margin-left: 29px;
	width: 5px;
	height: 5px;
	background-color: transparent;
	border-radius: 5px;
}

.Linee {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.StatoDip{
    float: left;
    position: absolute;
    width: 10%;
    height: 25px;
    right: 0px;
	border: 1px solid black;
	text-align: center;
}

.ImgFlussoLogico{
	float: left;
	top: 0px;
	left: 0px;
	height: 14px;
	margin: 2px;
}

.ImgSveglia{
	float: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 14px;
	margin: 5px;
}

.Dett {
	position: relative;
	width: 97%;
	margin: auto;	
	border: 1px solid black;
	background-color: #e2e9f8;
	border-top: none;
}

#DivPulsante {
    /*position: absolute;*/
    bottom: 5px;
    text-align: center;
    width: 100%;
}

#DivSistema {
    position: relative;
    float: left;
    width: 33%;
	padding: 3px;
}

#DivAmbiente {
    position: relative;
    float: left;
    width: 33%;
	padding: 3px;
}

#DivSelWorkFlow {
    position: relative;
    float: left;
	width: 33%;
    padding: 3px;
}

#AmbienteInUso{
    position: fixed;
    left: 72.5%;
    font-size: 3em;
    padding: 8px;
    color: red;
    top: 120px;
    height: 85px;
    width: 27%;
	font-size: 1em;
}

#MioAmb{
    position: relative;
    float: left;
    width: 100%;
	cursor:pointer;
	text-align: center;
}
#Sistema{
	font-size: 13px;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	color:black;
}
#Ambiente{
	height: 26px;
	font-size: 13px;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	color:black;
}
#WorkFlow{
	font-size: 13px;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	color:black;
}

.ImgDipSveglia{
	height: 20px;
	margin: auto;
	margin-top: 3px;
	position: absolute;
	right: 11%;
	z-index: 99999;
}

.Bottone {
	color: blue;
	border: 1px solid blue;
	height: 20px;
	text-align: center;
	box-shadow: 0px 0px 7px 1px lightblue inset;
	-o-box-shadow: 0px 0px 7px 1px lightblue inset;
	-moz-box-shadow: 0px 0px 7px 1px lightblue inset;	
	border-radius: 5px;
	margin-top: 5px;	
	width: 51%;
	background-color:white;
}

#EsitoImg{
	text-align:center;
	margin: 10px;
}

#EsitoText{
	text-align: center;
	font-size: 1.5em;
	margin: 25px;
}

.Note{
	position: absolute;
	border: 1px solid black;
	width: 91%;
	height: 100px;
	background-color: white;
	z-index: 999999;
	top: 5px;
	left: 10px;
}

 .Log{
	width: 45px;
	position: absolute;
	right: -6px;
}

#IcoFlusso{
	position: absolute;
	width: 95%;
	height: 95%;
	top: 2px;
	left: 1px;
}

#pageEsito {
}

#EsitoFine{
	position: fixed;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	top: 250px;	
	color: black;
	background-color: white;
	z-index: 99999;
	border: 1px solid !important;
	box-shadow: 0px 0px 70px 10px !important;
	-o-box-shadow: 0px 0px 70px 10px !important;
	-moz-box-shadow: 0px 0px 70px 10px !important;	
	height: 40%;
	text-align: center;
}

#AttesaEsitoF {
	margin-top:30px;
	color: green;
	font-size: 3em;
}

#AttesaEsitoE {
	margin-top:30px;
	color: red;
	font-size: 3em;
}

#AttesaMes {
	margin-top:30px;
	font-size: 2em;
}

.ElabPos{
    border-color: #00ffdb !important;
}

.ImgUte{
	height: 20px;
	margin: auto;
	z-index: 99999;	
}

.DetUteGroup{
    display: none;
    width: 50%;
    position: absolute;
    background: #feb9b9 none repeat scroll 0% 0%;
    z-index: 99999;
    min-height: 30px;
    border: 1px solid;
    right: 10%;
	padding: 3px;
}

#countdown {
    position: fixed;
    bottom: -19px;
    left: 0px;
    z-index: 9999999;
    color: white;
}
#countdown p {
    display: inline-block;
    padding: 5px;
    margin: 0 0 20px;
    color: white;
}

.ImgLiv{
    display: none;
    background-color: whitesmoke;
    width: 5px;
    height: 90%;
    margin-right: 1px;
    border: 1px solid #53557d;
	float: left;
	position: relative;
	border-radius: 20px;
}

.ImgFlag{
 	height: 15px;
	margin: auto;   
}

#PulAggPeriodo {
	position: absolute;
	border: 1px solid red;
	top: 6px;
	z-index: 999;
	height: 30px;
	border-radius: 10px;
	margin-left: 10px;
	font-size: 0.6em;
	cursor:pointer;
}

label {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

.CheckOneShot {
  display: none;
}

.ImgFileDisp{
    position: absolute;
    height: 20px;
    bottom: 0px;
    right: 0px;
	-webkit-animation: pulse1 1s linear infinite;
	-moz-animation: pulse1 1s linear infinite;
	-ms-animation: pulse1 1s linear infinite;
	animation: pulse1 1s linear infinite;	
}

.ImgDettFileDisp{
    position: relative;
	float:left;
    height: 20px;
    bottom: 2px;
	-webkit-animation: pulse1 1s linear infinite;
	-moz-animation: pulse1 1s linear infinite;
	-ms-animation: pulse1 1s linear infinite;
	animation: pulse1 1s linear infinite;	
}


@keyframes pulse1 {
 0% {
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   -ms-transform: scale(0.8);
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   -ms-transform:scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}


@-ms-keyframes pulse1 {
 0% {
   -ms-transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
 }
 100% {
   -ms-transform:scale(1);
 }
}


@-webkit-keyframes pulse1 {
 0% {
   -webkit-transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
 }
}


@-moz-keyframes pulse1 {
 0% {
   -moz-transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
 }
}

#DivPulPag{
   position:relative;
   bottom:0px;
}

.Pulsante{
    color: red;
    border: 1px solid red;
    height: 17px;
    text-align: center;
    box-shadow: 0px 0px 7px 1px pink inset;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    cursor: pointer;
    float: right;
}


#TitPag{
    font-size: 13px;
    color: red;
    text-align: center;
}

#ImgRefresh{
    cursor: pointer;
}
.ImgWorkFlow{
  height: 17px;
}
