:root{
--bodyColor:#bac3d4;
--headerColor:#48178A;
--menuColor:#5a3987;
--paginationColor:#576254;
--hoverMenuColor:#17e4d6;
--headerTableColor:#623e93d9;
--confirmColor:#F3F5F6;
--thColor:#eee;
--tabellaWrapperColor:#e7e7e7;
}

.breadcrumbs {
display:none;
}
