:root{
--bodyColor:#bac3d4;
--headerColor:#3A3146;
--menuColor:#514b59;
--paginationColor:#576254;
--hoverMenuColor:#17e4d6;
--headerTableColor:#6b6473b8;
--confirmColor:#F3F5F6;
--thColor:#eee;
--tabellaWrapperColor:#e7e7e7;
}


.breadcrumbs {
display:none;
}
