

.divNLOAD {
  width: 90%;
  border: 1px Solid black;
  margin: 0 auto;
  margin-bottom: 30px;
  background: whitesmoke;
  border-radius:10px;
}

.red {
  color: red;
}

 #mostra{
   border: 1px solid !important;
   background: transparent none repeat scroll 0% 0%;
   color: red;
}
