:root{
--bodyColor:#d8d7d7;
--headerColor:#43533E;
--menuColor:#576254;
--paginationColor:#576254;
--hoverMenuColor:#17e4d6;
--headerTableColor:#374632ad;
--confirmColor:#F3F5F6;
--thColor:#eee;
--tabellaWrapperColor: #e7e7e7; /*#57625438*/
}

