a.PLink {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#downloadFile {       
float: right;
    margin: 0px 5px 10px;
}

.modColl{
    width:95px;
    text-align: center;
  
}